.loginBox {
	margin-top: 2%;
	border: 3px solid #30475E;
	padding: 50px;
	max-width: auto;
	max-height: auto;
}

.ppHomepageArtBox {
	margin-top: 5%;
	padding-bottom: 10%;
}

.registrationBoxPatient {
	margin-top: 2%;
	margin-bottom: 2%;
	border: 3px solid #30475E;
	padding: 20px;
	max-width: 80%;
	max-height: auto;
}

.dentistProfile {
	margin-top: 2%;
	margin-bottom: 2%;
	border: 3px ;
	padding: 20px;
	max-width: 80%;
	max-height: auto;
}

.clinicassistant {
	margin-top: 2%;
	margin-bottom: 2%;
	border: 3px;
	padding: 20px;
	max-width: 80%;
	max-height: auto;
}